@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body header h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 66px;
    text-align: center;
    color: blueviolet;
}
.none {
    text-decoration: none;
}
.none {
    list-style-type: none;
}
body {
    background-image: url("Screenshot\ 2022-03-24\ 133404.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50p
}
/*forma de dejar una imagen que siga el scrooll de la pagina*/
.orange {
    color: orange;
}
.size {
    font-size: 72px;
}
.center {
    text-align: center;
}
.fuente {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.background {
    background-color: black;
}